@mixin btn {
  color: var(--base-light);
  border: 0;
  border-radius: 4px;
  width: 122px;
  height: 60px;
  font-size: 18px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &[disabled] {
    opacity: 0.5;
  }
}

:host {
  .primary {
    @include btn;
    background: var(--primary);
  }

  .success {
    @include btn;
    background: var(--success);
  }

  .warning {
    @include btn;
    color: var(--black);
    background: var(--warning);
  }
}
