h1 {
  font-family: var(--primary-font-family-regular);
  font-size: 31px;
  font-weight: 600;
  line-height: 36px;
  margin: 0;
}


h2 {
  color: var(--black);
  font-size: 28px;
  font-weight: 600;
  line-height: 33px;
  margin: 0;
}

p {
  margin: 0;
  font-size: 18px;
}
