.card-container {
  background-color: var(--base-light);
  border-radius: 12px;
  max-width: 580px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;

  .card-body {
    object-fit: cover;
    height: 372px;
    width: 580px;
  }

  .card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .card-footer-buttons {
      display: flex;
      gap: 15px;
    }
  }
}
