<section class="card-container">
  <h2>{{ title }}</h2>
  <article>
    <img class="card-body" [src]="imgUrl" alt="Dog image" />
  </article>
  <div class="card-footer">
    <div class="card-footer-info">
      <p>Date: {{ date | date : "dd.mm.yy" }}</p>
      <p>Time: {{ date | date : "mm:ss" }}</p>
    </div>
    <div class="card-footer-buttons">
      <app-button
        className="success"
        [disabled]="isActive"
        (click)="onToogle.emit()"
        >Start</app-button
      >
      <app-button
        className="primary"
        [disabled]="!isActive"
        (click)="onToogle.emit()"
        >Stop</app-button
      >
      <app-button className="warning" (click)="onLike.emit()">Like</app-button>
    </div>
  </div>
</section>
