@font-face {
  font-family: "Roboto-Regular";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/assets/fonts/Roboto-Regular/roboto-v20-latin-regular.eot");
  src: local("Roboto"), local("Roboto-Regular"),
    url("/assets/fonts/Roboto-Regular/roboto-v20-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/Roboto-Regular/roboto-v20-latin-regular.woff2")
      format("woff2"),
    url("/assets/fonts/Roboto-Regular/roboto-v20-latin-regular.woff")
      format("woff"),
    url("/assets/fonts/Roboto-Regular/roboto-v20-latin-regular.ttf")
      format("truetype"),
    url("/assets/fonts/Roboto-Regular/roboto-v20-latin-regular.svg#Roboto")
      format("svg");
}

@font-face {
  font-family: "Roboto-Bold";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/assets/fonts/Roboto-Bold/RobotoBold.eot");
  src: local("Roboto-Bold"), local("Roboto-Bold"),
    url("/assets/fonts/Roboto-Bold/RobotoBold.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/Roboto-Bold/RobotoBold.woff2") format("woff2"),
    url("/assets/fonts/Roboto-Bold/RobotoBold.woff") format("woff"),
    url("/assets/fonts/Roboto-Bold/RobotoBold.ttf") format("truetype"),
    url("/assets/fonts/Roboto-Bold/RobotoBold.svg#Roboto") format("svg");
}
