<section class="dog-panel-container">
  <h2>Favourite Dogs</h2>
  <div class="dog-panel-items" *ngIf="myFavoriteDogs$ | async as myDogs">
    <div *ngFor="let dog of myDogs">
      <img
        class="dog-panel-img"
        [src]="dog.message"
        alt="My favorite dog image"
      />
    </div>
  </div>
</section>
