.dog-panel-container {
  display: flex;
  flex-direction: column;
  background-color: var(--base-light);
  min-width: 425px;
  max-width: 425px;
  gap: 30px;
  margin: 30px 0 0 30px;


  .dog-panel-items {
    display: flex;
    flex-wrap: wrap;
    gap: 23px;

    .dog-panel-img {
      width: 175px;
      height: 118px;
      object-fit: fill
    }
  }
}
