<header>
  <app-header></app-header>
</header>
<main>
  <app-card
    class="home-cards"
    *ngIf="dog$ | async as dog"
    title="Random Dog"
    [imgUrl]="dog.message"
    [date]="today"
    [isActive]="isStreamOn"
    (onToogle)="toggle()"
    (onLike)="favorite(dog)"
  ></app-card>
  <aside>
    <app-favorite-dog-panel></app-favorite-dog-panel>
  </aside>
</main>
