:host {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  main {
    flex-grow: 1;
    position: relative;
    display: flex;
    justify-content: space-between;

    .home-cards {
      padding: 48px 0 0 60px;
    }
  }

  aside {
    background-color: var(--base-light);
  }
}

