@import "assets/scss/colors";
@import "assets/scss/fonts";
@import "assets/scss/typography";

html,
body {
  font-family: var(--primary-font-family-regular);
  margin: 0;
  background: var(--base-dark);
  color: var(--black);
  height: 100%;
  scroll-behavior: smooth;
}
